#main{
    border: 2px solid;
    height: 600px;
    display: flex;
    /* flex-direction: row;
    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    justify-content: baseline;
    justify-content: center;
    justify-content: end;
    justify-content: space-around;
    justify-content: space-between; */
    justify-content: space-evenly;
}

#one{
    height: 200px;
    width: 200px;
    background-color: chocolate;
}

#two{
    height: 200px;
    width: 200px;
    background-color:goldenrod;
}

#three{
    height: 200px;
    width: 200px;
    background-color:palevioletred;
}